.deleteReviewModal{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: 2px 2px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  font-family: 'Inter';
  padding-bottom: 25px;
}

.delete{
  background-color: rgb(200, 71, 12);
  color: white;
  width: 250px;
  margin-bottom: 4px;
}
.noDelete{
  background-color: darkgray;
  color: white;
  width: 250px;

}

.deleteConfirm{
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
}
