
.spotImage{
  width: 350px;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
}

.spotCard {
  display: flexbox;
  font-size: 12px;
  font-family: 'Inter';
}

.spotInfo{
  display: flex;
  line-height: 0px;
  color: black;
  margin-bottom: 10px;
}

.spotRating {
  font-weight: bold;
}

.spotLocation {
  font-weight: bold;
}

.owner_des {
  line-height: 15px;
  color: black;
  margin-bottom: 10px;
}
