.SpotsContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
  font-family: 'Inter';
  margin-left: 50px;
  padding-top: 15px;
}

.SpotsContainer a {
  text-decoration: none;
}
